body{
	background:rgb(82, 28, 133);
}
.c1{
	
	text-align:center;
	font-family:cursive;
	margin:50px;
	border:5px solid black;
	background:linear-gradient(white,blue);
	text-shadow: 15px 5px 10px;
	border-radius: 60%;
	color:black;
	font-size: 30px;
}
.c2{
	text-align:justify;
	font-size:30px;
	border:5px solid white;
	margin:80px;
	text-shadow:10px 5px 10px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	border-radius: 20px;
	background:black;

}
a:link{
	color:yellow;
}



.history{
	color:rgb(13, 234, 112);

}	

p{
	text-align: center;
	
}
.realme{
	text-align:justify;
	color:aliceblue !important;
	border:10px dashed rgb(245, 245, 245);
	border-radius: 100%;
	margin: 80px;
	font-size: 30px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	background:red;
	text-decoration:none;
}
.realme p{
	color:antiquewhite;
}
.c2 p{
	color:aqua;
}
.realme a{ text-decoration: none;}
.c2 a{
	text-decoration: none;
}